* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.full-screen-loading-background{
    position: fixed;

    height: 100vh;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    opacity: .6;
    backdrop-filter: blur(5px)


}

/* To center the spinner*/
.pos-center {
    position: fixed;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
    
  }
  
  .loader {
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;

  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
